@model XR_Rbac.ViewModel.RoleModuleViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "../_LayoutForm.cshtml";
}

<form class="bootstrap-frm">
    <h1>角色模块 - 编辑</h1>
    <input type="hidden" name="roleid" value="@Model.roleid"/>
    <input type="hidden" name="moduleid" value="@Model.moduleid" />
    <label>
        <span>原角色名称</span>
        <input type="text" value="@Model.roleNume" readonly="readonly" name="roleNume" />
    </label>
    <label>
        <span>原模块名称</span>
        <input type="text" value="@Model.moduleNume" name="moduleNume" readonly="readonly"/>
    </label>
    <label>
        <span>更新模块名称</span>
        @Html.DropDownList("Upmoduleid", (IEnumerable<SelectListItem>)ViewBag.Moduleoptions)
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="button" class="button" value="提交" />
    </label>
</form>
@section Script
{
    <script>
        $(function() {
            $(".button").click(function () {
                $.ajax({
                    url: '@Url.Action("Update")',
                    type: "post",
                    data: $("form").serialize(),
                    success: function (data) {
                        if (data.code === 200) {
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                        } else {
                            alert("修改失败");
                        }
                    }
                });
            });
        })

    </script>
}

