@model IEnumerable<XR_Rbac.Models.Role>
@{
    ViewBag.Title = "角色模块管理";
}

<a href="#" id="create">增加关系</a>
<table>
    <tr>
        <th>角色名称</th>
        <th>模块名称</th>
        <th>模块控制器</th>
        <th>操作</th>
    </tr>
    @foreach (var role in Model)
    {
        foreach (var mole in role.Modules)
        {
            <tr>
                <td>@role.Name</td>
                <td>@mole.Name</td>
                <td>@mole.Controller</td>
                <td style="width: 100px;">
                    <a class="edit" href="@Url.Action("Edit",new { roleid = role.ID, moduleid=mole.ID})">编辑</a>
                    @Html.ActionLink("删除", "delete", new { roleid = role.ID, moduleid = mole.ID },new {@class= "delete" })
                </td>
            </tr>
        }
    }
</table>
@section Script
{
    <script>
        $("#create").click(function() {
            layer.open({
                type: 2,
                title: '角色模块管理',
                shade: false,
                shadeClose: true,
                area: ['600px', '330px'],
                content: '@Url.Action("Create")'
            });
        });

        $(".edit").click(function(event) {
            var $this = $(this);
            layer.open({
                type: 2,
                title: '角色模块管理',
                shade: false,
                shadeClose: true,
                area: ['600px', '380px'],
                content: $this.attr("href")
            });
            event.preventDefault();
        });
        $(".delete").click(function (event) {
            event.preventDefault();
            var herf = $(this).attr("href");
            $.ajax({
                url: herf,
                type: "Post",
                success: function(res) {
                    if (res.code=== 200) {
                        window.location.reload();
                    } else {
                        alert("删除失败");
                    }
                }
            });
        });
    </script>
}
